# Преобразования чисел в различных СС с помощью Python

Python для ЕГЭ по информатике.
Канал в телеграмм: https://t.me/informatics_100

## Int
Целочисленный тип

In [1]:
s = '-1234'
n = int(s)
print(n)
print(type(n))

-1234
<class 'int'>

In [2]:
n = 99.9
n = int(n)  # десятичные знаки просто отбрасываются (не округляются)
print(n)

99

## Float
Вещественные числа или числа с плавающей точкой.  
Просто вспомним про них: переводить вещественные числа встроенными методами языка не получится.

In [3]:
s = '123.4'
n = float(s)
print(n)

123.4

In [4]:
s = '123,4'
n = float(s)  # ValueError: could not convert string to float: '123,4'

ValueError: could not convert string to float: '123,4'

## Преобразование целого числа между СС с различными основаниями

### Перевод десятичного числа в двоичную СС: bin(n)

In [5]:
n = 11
m = bin(n)
print('bin(n) =', m)

bin(n) = 0b1011

Обратим внимание на приставку 0b.

Проверим тип данных:

In [6]:
print(type(n))

<class 'int'>

При переводе в двоичную систему получаем Строку.  
В начале имеем служебную приставку.  
Ее можно отбросить:

In [7]:
n = 123
m = bin(n)
print(m)
m = m[2:]
print(m)

# Объединим команды в одну строку:
m = bin(n)[2:]
print(m)
print(type(m))  # Это по прежнему строка

0b1111011
1111011
1111011
<class 'str'>

### Перевод числа из двоичной СС в десятичную: int(m, 2)

In [8]:
m = bin(11)  # Получили двоичное число. Попробуем преобразовать его обратно:
n = int(m)  # error
# ValueError: invalid literal for int() with base 10: '0b1011'

ValueError: invalid literal for int() with base 10: '0b1011'

Почему ошибка? 
m = '0b1011'  
Функция пока не понимает, что делать с таким числом.

Мы привыкли, что фукнция int() принимает только один аргумент.  
Но на самом деле она умеет принимать два оргумента:  
int(x, [base=10]):

In [9]:
n = int('123', 10)
print(n)

123

Первый аргумент принимает число в строковом формате: '1234'
Второй аргумент принимает основание СС исходного числа (если не указан, то 10 используется по умолчанию).

In [10]:
n = int('1000')  # Основание не указано, значит передано десятичное число
print(n)

1000

In [11]:
n = int('1000', 2)  # Указали основание 2. Число 1011 будет прочитано как двоичное
print(n)

n = int('0b1000', 2)  # Можем передавать строки с приставкой
print(n)

m = '0b1000'
n = int(m, 2)  # Подаем переменную, содержащую строку (можно с приставкой '('0b' или без)
print(n)

8
8
8

#### А так нельзя:

In [12]:
n = int(1011, 2)  # TypeError: int() can't convert non-string with explicit base

TypeError: int() can't convert non-string with explicit base

**int( )** с указанием основания всегда принимает первым аргуметом СТРОКУ:  
'1234'  
'1001'  
'0'  
'0b1011'

### Восмиричная, шестнадцатиричная системы. Туда и обратно:

#### Туда:

Встроенные функции:  
oct(n) - перевод n d восьмиричную СС  
hex(n) - перевод n в шеснадцатиричную СС

In [13]:
a = 29

n = oct(a)  # Перевод в 8-ричную СС
print(n)

m = hex(a)  # Перевод в 16-ричную СС
print(m)
print(type(n), type(m))

0o35
0x1d
<class 'str'> <class 'str'>

Обратим внимание на приставки: 0o и 0x.

#### Обратно:
Поведение аналогично двоичной СС:

In [14]:
a = int('0o35', 8)  # Указываем основание исходной СС
print(a)

a = int('35', 8)  # Можно без приставки
print(a)

b = int('0x1d', 16)  # Указываем основание исходной СС
print(b)

b = int('1d', 16)  # Можно без приставки
print(b)

29
29
29
29

Передавать в функцию int() по прежнему можно только Строки:  
'FFF'  
'111'  
'0x111'

## Перевод из систем счисления с произвольным основанием в десятичную:

Всмомним алфавит для 16-ричной системы:  
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F - итого 16 знаков  
Для систем с большим основанием ряд можно продолжать: G, H, I, J ...

#### Посмотрим на примеры:

In [15]:
m = int('GG', 17)
print(m)

288

In [16]:
m = int('GG', 20)  # Другое основание - другой результат!
print(m)

336

In [17]:
m = int('123', 4)
print(m)

27

In [18]:
m = int('1A2B', 12)  # Алфавит 12-ричной системы: 0123456789AB - всего 12 символов
print(m)

3203

#### А вот ошибки:
Исходное чило содержит символы, которых нет в алфавите

In [19]:
m = int('123', 2)  # Алфавит для двоичной сестемы: 0, 1
m = int('1A2C', 12)  # Буква C выходит за пределы алфавита 12-ричной системы
m = int('123', 3)  # Алфавит для троичной СС: 0, 1, 2

ValueError: invalid literal for int() with base 2: '123'

## Краткий итог:

#### Перевод в СС с основанием 2, 8 и 16

In [20]:
a = bin(123)  # В двоичную
b = oct(123)  # В восьмиричную
c = hex(123)  # В шестнадцатиричную
print(a, b, c)

# Отбросим приставку:
print(a[2:], b[2:], c[2:])

# Получаем строковый тип:
print(type(a), type(b), type(c))

0b1111011 0o173 0x7b
1111011 173 7b
<class 'str'> <class 'str'> <class 'str'>

Ошибки:

In [21]:
a = bin('123')  # TypeError: 'str' object cannot be interpreted as an integer

TypeError: 'str' object cannot be interpreted as an integer

#### Перевод из СС с произвольным основанием

Всегда передаем Строку: '1234'

In [22]:
a = int('1101', 2)
b = int('1A2F', 16)
c = int('456', 7)
print(a, b, c)

# Можно оставлять приставку для СС с основаниями 2, 8, 16:
a = int('0b1101', 2)
b = int('0x1A2F', 16)

print(a, b)

13 6703 237
13 6703

Ошибки:

In [23]:
a = int(1101, 2)  # Передавать в int() можно только Cтроки!
b = int('123', 3)  # Алфавит для троичной СС: 0, 1, 2

TypeError: int() can't convert non-string with explicit base

## Решим пару задач:

#### Задача 1.

Найти наибольшее значение символа X, для которого шестнадцатиричное число 9X42 кратно 7.

In [24]:
alf = '0123456789ABCDEF'  # Создадим алфавит для 16-ричной системы
alf = alf[::-1]  # Развернем его, чтобы перебирать символы от наибольшего

# Переберем алфавит в цикле
for x in alf:  
    n = '9' + x + '42'  # Получаем шестнадцатиричную строковую запись для текущего симовла x
    n = int(n, 16)  # Переводим шестнадцатиричную запись в десятичное число
    if n % 7 == 0:  # Проверям делимость
        print('x =', x)
        break

x = B

#### Задача 2.

Дано число 2023. 
Над его двоичной записью выполнели преобразование: в конец записи дописали столько единиц, сколько их есть в изначальной записи.
Найти получившееся число. Ответ дать в десятичной СС.

In [25]:
a = bin(2023)[2:]  # Переведем число в двоичную систему, отбросим приставку
n = a.count('1')  # В полученной строковой записи выполним подчсчет количества символов '1' 
a = a + '1' * n  # Преобразуем строковую запись, добавив в конец n единиц
a = int(a, 2)  # Преобразуем полученное число в int
print(a)

1036287


Python для ЕГЭ по информатике. Канал в телеграмм: https://t.me/informatics_100